* {
  margin: 0;
  padding: 0;
  max-width: 1920px;
  max-height: 1080px;
  font-family: Poppins;
}

/* ------------------------------------------------ navbar -------------------------------------------*/

.navbar-brand {
  font-size: 16px;
  font-weight: bold;
}

.nav-link {
  font-size: 16px;
}

.nav-item {
  padding-left: 30px;
}

ul.navbar-nav {
  padding-right: 50px;
}

.nav-btn-language {
  border-radius: 50px;
  box-sizing: border-box;
}

.nav-btn-language {
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.first-section {
  background-color: #e8edf0;
}

/* --------------------------------------------------------------------------------------end - navbar */

/* ------------------------------- Login form ------------------ */

html,
body {
  height: auto;
}

/* ------------------ navbar toggler hidden ------------------ */

/* .navbar-light .navbar-toggler {
  display: none;
} */

/* ------------------ end - navbar toggler hidden ------------ */

.navbar-light .navbar-brand {
  font-size: 20px;
  font-family: "Roboto Condensed";
}

body {
  background-image: url(../assets/images/ssskrrr.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
}

div.test {
  display: flex;
  height: 90.8vh;
  /* margin-top: 100px; */
  align-items: center;
  justify-content: center;
}

.contain {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fffbfbe5;
  padding: 60px 30px;
  border-radius: 20px;
}

.input-email,
.input-password {
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1.2rem;
  border: 0;
  margin-top: 20px;
  height: 74px;
  background-color: #e5e5e5;
  width: 100%;
}

.input-email::placeholder,
.input-password::placeholder {
  color: #a4a4a4;
  font-size: 13px;
}

.input-button {
  background-color: #609513;
  color: white;
  display: block;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
  border-radius: 50px;
}

.submit-btn-div {
  margin-top: 60px;
}

input {
  background: #2e2e2e;
  margin-bottom: 2px;
}

.forgot-password {
  color: #aaa;
  font-weight: normal;
}

.sign-title {
  color: #609513;
  margin-bottom: 40px;
  font-family: "Roboto";
}

.remember-token-and-help {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: #8c8888;
}

input[type="checkbox"] {
  background-color: #4dd0e1;
}

.library .library-text {
  color: #8c8888;
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 15px;
}

.sign-up-now {
  color: #4dd0e1;
}

/* ------------------------------- End - Login form ------------------ */

/* ------------------------- media screen for ipad (landscape) ------------------ */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */

  body {
    background-image: url(../assets/images/ssskrrr.png);
  }

  html,
  body {
    height: auto;
  }

  .contain {
    padding: 20px 15px;
  }

  .input-email,
  .input-button,
  .input-password {
    height: 50px;
  }
}

/* -------------------------------------- end - media screen for ipad ((landscape)) */

/* ------------------------- media screen for mobile --------------- */
@media only screen and (max-width: 600px) {
  html,
  body {
    height: 100%;
    background-size: auto;
  }
  .contain {
    width: 330px;
    padding: 10px 20px;
  }

  .input-email,
  .input-button,
  .input-password {
    height: 50px;
  }

  .sign-title {
    font-size: 30px;
  }
}
/* ----------------------------------- end - media screen for mobile */

/* -------------------- media screen for ipad pro (portrait) ------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  html,
  body {
    height: auto;
  }

  body {
    background-image: url(../assets/images/ssskrrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
  }

  .contain {
    width: 500px;
    padding: 60px 30px;
  }

  .input-email,
  .input-button,
  .input-password {
    height: 50px;
  }
}

/* --------------------------------- end -  media screen for ipad pro (portrait) */

/* ---------------- media screen for ipad pro (landscape) --------------------- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  html,
  body {
    height: 100%;
  }

  div.test {
    height: 94vh;
    margin-top: 0px;
  }
}
/* -------------------------------- end - media screen for ipad pro (landscape) */

/* ----------------------------------------- media screen for 1366 x 768 ------------------------------------ */

@media only screen and (min-device-width: 1366px) and (min-device-height: 768px) and (orientation: landscape) {
  /* For landscape layouts only */

  body {
    background-image: url(../assets/images/ssskrrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
  }

  html,
  body {
    height: auto;
  }

  .contain {
    padding: 20px 15px;
  }

  .input-email,
  .input-button,
  .input-password {
    height: 50px;
  }

  .sign-title {
    font-size: 30px;
  }
}

/* ------------------------------------------------------------------------ end - media screen for 1366 x 768 -*/
